@charset "utf-8";

@font-face {
  font-family: "FreesentationVF";
  src: url("../font/FreesentationVF.ttf");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "HakgyoansimBunpilR";
  src: url("../font/HakgyoansimBunpilR.ttf");
  font-weight: normal;
  font-style: normal;
}
